

body {
    margin: 30px auto;
    width: 80%;
}

.navbar {
    margin-bottom: 30px;
}

 table, td, th {
     border: 1px solid #ddd;
     text-align: left;
 }

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}