<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <title>Bullhorn Timeline</title>
    <th:block th:insert="base :: header"></th:block>
</head>

<body>
<div th:replace="base :: navlinks"></div>

<h2>Bullhorn Timeline</h2>

<table>
    <tr>
        <th>Message</th>
        <th>Sent By</th>
        <th>Date Posted</th>

    </tr>
    <tr th:each="message : ${messages}">
        <td th:text="${message.content}"></td>
        <td th:text="${message.username}"></td>
        <td th:text="${message.postdate}"></td>



        </td>
    </tr>
</table>

</body>
</html>